<div class="navabr">
  <div class="bread-crums">
    <img src="https://www.jerry-code.com/images/logo-jerry-code.svg">
    <a href="#">NOTRE METHODOLOGIE</a>
    <a href="#">DEVENIR PROF</a>
    <a href="#">NOTRE HISTOIRE</a>
    <a href="#">BLOG</a>
  </div>
</div>


<div class="container">
  <div class="card">
    <div class="card-body">
    <% if @input.include?"cours_collectifs" %>
    <h3><%= "Cours Collectifs" %></h3>
      <p><%= params[:"prenom"]%></p>
      <p><%= params[:"nom_de_famille"]%></p>
      <p><%= params[:"date_de_naissance"]%></p>
    <% elsif @input.include?"cours_particuliers" %></h3>
    <h3><%= "Cours Particuliers" %>
      <p><%= params[:"prenom"]%></p>
      <p><%= params[:"nom_de_famille"]%></p>
      <p><%= params[:"date_de_naissance"]%></p>
    <% else %>
    <h3><%= "Bonjour, veuillez remplir le formulaire" %></h3>
    <% end %>
    </div>
  </div>


  <form action="/contact" method="get">
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Prenom</span>
      <input type="text" name="prenom" class="form-control" aria-label="Prenom" >
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Nom de famille</span>
      <input type="text" name="nom_de_famille" class="form-control" aria-label="nom_de_famille" >
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Date de naissance</span>
      <input type="text" name="date_de_naissance" class="form-control" aria-label="date_de_naissance" >
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">Vous avez déjà des notions de programmation</label>
    </div>
    <div class="btn-div">
      <button class="btn btn-primary" type="submit" name="cours_collectifs">Cours collectifs</button>
      <button class="btn btn-primary" type="submit" name="cours_particuliers">Cours particuliers</button>
    </div>
  </form>
</div>
