<div class="navabr">
  <div class="bread-crums">
    <img src="https://www.jerry-code.com/images/logo-jerry-code.svg">
    <a href="#">NOTRE METHODOLOGIE</a>
    <a href="#">DEVENIR PROF</a>
    <a href="#">NOTRE HISTOIRE</a>
    <a href="#">BLOG</a>
  </div>
</div>


<div class="container">
  <div class="card">
    <div class="card-body">
    <% if @input.include?"cours_collectifs" %>
    <h3><%= "Cours Collectifs" %></h3>
      <p><%= params[:"prenom"]%></p>
      <p><%= params[:"nom_de_famille"]%></p>
      <p><%= params[:"date_de_naissance"]%></p>
    <% elsif @input.include?"cours_particuliers" %></h3>
    <h3><%= "Cours Particuliers" %></h3>
      <p><%= params[:"prenom"]%></p>
      <p><%= params[:"nom_de_famille"]%></p>
      <p><%= params[:"date_de_naissance"]%></p>
    <% else %>
      <h3><%= "Bonjour, veuillez remplir le formulaire" %></h3>
    <% end %>
    <% if @input.value?("1") %>
        <p><%= "J'ai des notions de code" %></p>
    <% elsif @input.value?("0")%>
        <p><%= "Je n'ai pas de notions de code" %></p>
    <% else %>
        <p><%= "" %></p>
    <% end %>
    </div>
  </div>


  <form action="/contact" method="get">
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Prenom</span>
      <input type="text" name="prenom" class="form-control" aria-label="Prenom" >
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Nom de famille</span>
      <input type="text" name="nom_de_famille" class="form-control" aria-label="nom_de_famille" >
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Date de naissance</span>
      <input type="text" name="date_de_naissance" class="form-control" aria-label="date_de_naissance" >
    </div>
    <fieldset class="form-group boolean optional snippet_archived">
        <div class="form-check">
          <input name="notions_de_code" type="hidden" value="0">
          <input class="form-check-input boolean optional toggle" type="checkbox" value="1"  id="snippet_archived">
          <label class="form-check-label boolean optional" for="snippet_archived">Avez vous déjà des notions de code ?</label>
        </div>
    </fieldset>



    <div class="btn-div">
      <button class="btn btn-primary" type="submit" name="cours_collectifs">Cours collectifs</button>
      <button class="btn btn-primary" type="submit" name="cours_particuliers">Cours particuliers</button>
    </div>
  </form>
</div>
